<form [formGroup]="commentGroup">
  <table width="400px">
    <tbody>
    <tr>
      <td width="30%">
        <label for="author">Author:</label>
      </td>
      <td width="70%">
        <input type="text" id="author" formControlName="author">
        <div *ngIf="author.invalid && author.touched">This field is required.</div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="email">Email:</label>
      </td>
      <td>
        <input type="text" id="email" formControlName="email">
        <div *ngIf="email.invalid && email.touched">This field is required.</div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="body">Comment:</label>
      </td>
      <td>
        <textarea id="body" formControlName="body"></textarea>
        <div *ngIf="body.invalid && body.touched">This field is required.</div>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <button (click)="addCommentClick()" [disabled] = "!commentGroup.valid">Add comment</button>
</form>
