<div class="overlay" *ngIf="popup" [style.width]="overlayWidth" [style.height]="overlayHeight"></div>
<div class="popup" *ngIf="popup" [style.left]="styleLeft" [style.top]="styleTop">
  <h5>Edit</h5>
  <app-add-post [current_post]="post"></app-add-post>
  <div>{{ popup.data | json }}</div>
  <span style="color: red" (click)="onCancelClick()">(x)</span>
</div>
<style>
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    opacity: 0.5;
  }

  .popup {
    position: fixed;
    width: 400px;
    height: 400px;
    left: 0;
    top: 0;
    background-color: #f8f8f8;
    z-index: 99;
  }
</style>
