<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="padding: 50px 0">
  <h1>Angular Blog App</h1>
  <br>
  <div class="form-group">
    <app-filter (notifyFilter)="filterService.onNotifyFilter($event)"></app-filter>
    <small class="form-text text-muted">Filter posts by author, title, post, date.</small>
  </div>
  <app-posts [posts]="posts" (notifyPosts)="onPostsNotify($event)"></app-posts>
  <app-edit-post></app-edit-post>
  <app-edit-comment></app-edit-comment>
</div>
