<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="postGroup">
      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" id="author" formControlName="author" [(ngModel)]="model.author">
        <div *ngIf="author.invalid && author.touched" class="badge badge-danger">This field is required.</div>
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" formControlName="title" [(ngModel)]="model.title">
        <div *ngIf="title.invalid && title.touched" class="badge badge-danger">This field is required.</div>
      </div>
      <div class="form-group">
        <label for="description">Content:</label>
        <textarea id="description" class="form-control" formControlName="body" [(ngModel)]="model.body"></textarea>
        <div *ngIf="body.invalid && body.touched" class="badge badge-danger">This field is required.</div>
      </div>

      <button class="btn btn-primary float-right"
              *ngIf="!current_post"
              (click)="addPostClick()"
              [disabled]="!postGroup.valid">
        Add post
      </button>

      <button class="btn btn-primary float-right" *ngIf="current_post"
              [disabled]="!postGroup.valid"
              (click)="onUpdatePost(model)">
        Update post
      </button>
    </form>
  </div>
</div>
