<h2>Posts</h2>
<ng-container *ngFor="let post of dmService.posts_">
  <ul>
    <li>
      <span (click)="onPostClick(post)" style="cursor: pointer">
        {{ post.title }}
        <span *ngIf="!post._collapsed">(+)</span>
        <span *ngIf="post._collapsed">(-)</span>
      </span>
      <span *ngIf="post._collapsed"
            (click)="onPostRemove(post)"
            style="color: red; cursor: pointer">(x)</span>
      <app-post *ngIf="post._collapsed"></app-post>
    </li>
  </ul>
</ng-container>
<app-add-post></app-add-post>
