<div class="row">
  <div class="col-lg-12">
    <h2>Posts</h2>
  </div>
</div>
<div class="row" *ngIf="posts.length">
  <div class="col-md-4" *ngFor="let post of posts | filter:{ author: filterService.filterText, title: filterService.filterText, body: filterService.filterText }">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <p class="card-text">{{ post.title }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button (click)="onPostClick(post)" *ngIf="!post._collapsed" type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button (click)="onPostClickHide(post)" *ngIf="post._collapsed" type="button" class="btn btn-sm btn-outline-secondary">Hide</button>
            <button (click)="onEditClick(post)" type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">by <b>{{ post.author }}</b></small>
        </div>

        <ng-container *ngIf="post._collapsed && _collapsed">
          <br>
          <div class="dropdown-divider"></div>
          <p class="lead">{{ post.body }}</p>

          <app-comments [comments]="comments" [postId]="post.id"></app-comments>

          <br>
          <button class="btn btn-danger btn-sm float-right" (click)="onPostRemove(post)">Remove Post</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Add Post</h2>
  </div>
</div>
<app-add-post></app-add-post>
