<h2>Posts</h2>
<ul *ngIf="posts.length">
  <li *ngFor="let post of posts">
      <span (click)="onPostClick(post)" style="cursor: pointer">
        {{ post.title }}
        <span *ngIf="!post._collapsed">(+)</span>
        <span *ngIf="post._collapsed">(-)</span>
      </span>
    <span *ngIf="post._collapsed"
          (click)="onPostRemove(post)"
          style="color: red; cursor: pointer">(x)</span>
    <span *ngIf="post._collapsed"
          (click)="onEditClick(post)"
          style="cursor: pointer">(e)</span>
    <app-post *ngIf="post._collapsed" [comments]="comments"></app-post>
  </li>
</ul>
<app-add-post></app-add-post>
